.swiper-wrapper {
  padding: 1rem 2.2rem;
}

@media screen and (max-width: 508px) {
  .swiper-wrapper {
    padding: 1rem 0rem;
  }
}

@keyframes a1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.left {
  animation: a1 0.5s linear infinite;
  transform-origin: 210px 100px;
}
@keyframes a2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.right {
  animation: a2 0.6s linear infinite;
  transform-origin: 400px 100px;
}
@keyframes a3 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-60px);
  }
}
.a3 {
  animation: a3 1s linear infinite alternate;
}

.animation-text p{
animation: textAnimation 1s ease-in-out  ;
 text-align: center;
background: -webkit-linear-gradient(#eee, #333);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
@keyframes textAnimation {
  0%{
    opacity: 0;
    transform: translateY(20px) scale(0);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
.animation-body{
  animation: bodyAnimation .6s ease-in-out  infinite alternate ;

}
@keyframes bodyAnimation {
  0%{
    transform: translateX(80px) ;
  }
  
  35%{
    transform: translateX(-80px) ;
  }
  70%{
    transform: translatey(80px) ;
  }
  100%{
    transform: translatey(-80px) ;
  }
  
}